VITE_SUPABASE_URL=your-supabase-url
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51RM98dPJrXGy4p5JLJ4oL0z7yjx2mZy1EvcM4vlVLbu3xoGn03HTqlEDdVvQ4wRBO8eZDZTeygnAgCbVxY9MYiCj00Pe4elJ8M